html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}
header{
    margin-top: 80px;
}
.yesOrNo {
    color: white;
    padding: 3px;
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    list-style-type: none;
    position: fixed;
    top: 0%;
}
.nav-item{
    padding: 15px;
    cursor: pointer;
}
.nav-item a{
    text-align: center;
    text-decoration: none;
    color: black;
}